/* latin-ext */
@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 300 900;
    src: url(https://fonts.gstatic.com/s/figtree/v7/_Xmu-HUzqDCFdgfMm4GNAa5o_ik.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 300 900;
    src: url(https://fonts.gstatic.com/s/figtree/v7/_Xmu-HUzqDCFdgfMm4GND65o.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300 900;
    src: url(https://fonts.gstatic.com/s/figtree/v7/_Xms-HUzqDCFdgfMm4q9DbZs.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300 900;
    src: url(https://fonts.gstatic.com/s/figtree/v7/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --main-bg-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --ftwg-500: 500;
    --ftwg-800: 800; 
}


html {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 320px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    margin: 0;
}

main {
    height: 100%;
}

.card {    
    background-color: var(--white-color);
    width: 318px;
    height: 435px;
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 7px 7px 1px var(--gray-950);
}


/* Image code */

#img-wrapper {
    width: 281px;
}

#img-wrapper img {
    width: 281px;
    margin: 18px 19px;
    border-radius: 9px;
}


/* Tag and date */

.tag-and-date {   
    height: 52px;
    margin: 0px 19px;  
    color: var(--gray-950);   
}

.tag, .publish-date{
    margin-top: 0px;   
}


.tag-and-date .tag {    
    padding-top: 5px;
    width: 70px;
    height: 22px;    
    background-color: var(--main-bg-color);
    text-align: center;
    border-radius: 5px;
    font-size: 0.78rem;
    font-weight: var(--ftwg-800);
}

.tag-and-date .publish-date {   
    font-size: 0.75rem;
    font-weight: var(--ftwg-500);    
}

.tag:hover {
    background-color: var(--gray-950);
    color: var(--main-bg-color);
}


/* title-text-author */

.title-text-author { 
    display: flex;
    flex-wrap: wrap;   
    height: 160px;
    margin: 5px 19px;    
}

.text h1 {
    margin-top: 7px;
    font-weight: var(--ftwg-800);
    font-size: 1.3rem;    
}

.text h1:hover {
    color: var(--main-bg-color);
}

.text p {    
    margin-top: -6px;
    font-weight: var(--ftwg-500);
    font-size: 0.85rem;
    color: var(--gray-500);
    line-height: 1.2rem;    
}

.title-text-author img {
    width: 27px;
    height: 27px;
    margin-top: 5px;  
}

.author-name {
    margin-left: 8px;
    margin-top: 13px;
    font-size: 0.75rem;
    font-weight: var(--ftwg-800);    
}

.author-name:hover {
    color: var(--main-bg-color);
}



/* Footer */

footer {    
    position: absolute;
    bottom: 5px;    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* QUERIES */

@media screen and (min-width: 1440px) {
    
    body {
        min-width: 1440px;
    }
}



